*{
    background-color: #07070a;
}
h1{
    text-align: center;
}
.container{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    border-radius: 5px;
    margin: 4%;
    padding: 1%;
    padding-bottom: 5%;
}